@import url("https://fonts.googleapis.com/css2?family=Merienda+One&family=Nunito:wght@200;300;400;500;600&display=swap");

* {
	font-family: "Nunito", sans-serif;
}
h1 {
	font-size: 5.5rem;
	font-family: "Merienda One", cursive;
	color: #333;
	text-transform: capitalize;
}
h2{
    font-size: 4rem;
	font-family: "Merienda One", cursive;
	color: #333;
	text-transform: capitalize;

}
span {
	text-decoration: underline;
	font-family: "Merienda One", cursive;
	color: #666;
}
.p {
	color: #333;
    font-size: 2.5rem;
}
.home-container{
    background: url(../images/home-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
}